:root{
    --primary:#eebf00;
    --secondary: #232b38;
    --ternary: #6c6c6c;
    --danger: #fe4545;
    --pure: #fefefe;
    --light: #f0f0ff;
    --heaven: #ffffff;
    --footer: #2d333f;

}

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";

}

.container {
    width: 100%;
    padding:0 15px;
    margin:0 auto;
}

@media (min-width:576px){
    .container {
        max-width: 540px;
    }   
}

@media (min-width:768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px)
{
    .container {
        max-width: 1152px;
    }
}

header.topbar{
    background:var(--secondary);
    color:var(--pure) ;
    font-weight: 500;
    padding: 0.75rem 0;
}

header.topbar .auth > div a {
    color: var(--pure);
    text-decoration: none;
}

header.topbar .icons a{
    margin-right: 0.6rem;
}
header.topbar .auth .divider{
    padding:0 1rem;
}

header.topbar .auth > div img{
    margin-right: 0.35rem;
}
.flex{
   display:flex; 
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

nav .top{
    padding: 1.5rem 0;
}

nav .top .contact h5, nav .top .time h5{
   margin-bottom: 0.25;
}

nav .top .contact h6, nav .top .time h6{
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color:var(--ternary);
    font-weight: 600;
 }

 nav .top .contact img, nav .top .time img{
    margin: 1rem;
 }
 
 .justify-center{
    justify-content: center;
 }

 nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 1rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
    transition: all .9s ease;
 }

 nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
 }

 nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
 }

 .magic-shadow{
    position: relative;
    background: var(--heaven);
 }

 .magic-shadow:after{
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image:url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -25px;
    z-index:-1;
 }

 .magic-shadow-sm{
   position: relative;
   background: var(--heaven);
}

.magic-shadow-sm:after{
   content: "";
   display: block;
   width: 100%;
   height: 69px;
   background-image:url(../icons/shadow-sm.svg);
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   bottom: -20px;
   left: 50%;
   transform: translateX(-50%);
   z-index:-1;
}

 header.hero{
    height: 600px;
    background-image: url(../images/hero.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
 }
header.hero .container{
    position: relative;
}

 header.hero .welcome span{
    font-weight: 100;
    color:var(--secondary);
    margin-right: 0.75rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
 }

 header.hero h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
 }

 header.hero h1 span{
    color: var(--primary);
 }

 header.hero p{
   width: 50%;
   line-height: 1.5;
   margin-bottom: 1rem; 
 }

 .btn{
    padding: 0.50rem 0.75rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 .btn-primary{
    background: var(--primary);
    color: var(--pure);
    padding: 15px 20px;
 }

 .btn-primary:hover{
    opacity: 0.50;

 }
 
 .btn-secondary{
    background: var(--secondary);
    color: var(--pure);
    padding: 15px 20px;

 }

 .btn-secondary:hover{
   opacity: 0.8;
 }

 button{
    margin-right: 2rem;
 }

 .hero-image{
    position: absolute;
    top: 60px;
    right: -100px;
 }

 section{
    padding: 4rem 0;
 }

 section.top-products{
    background: var(--light);
 }

 .section-heading{
   text-align: center;
   position: relative;
   margin-bottom: 6rem; 
 }

 .section-heading::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background:url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
 }

 section.top-products .food-slider .food-card{
    background: var(--pure);
    padding: 1.5rem 0;
    border-radius: 4px;
 }

 section.top-products .food-slider .food-card .product-image img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding-bottom: 1rem;
 }

 hr{
    border: 1px solid var(--primary);
    opacity: 0.8;
    margin: 1rem;
 }

 section.top-products .food-slider .food-card h2{
    font-size: 1.3rem;
    margin-bottom: 1rem;
 }

 .text-center{
    text-align: center;
 }

 section.top-products .food-slider .food-card .stars img{
    margin-right: 0.60rem;
    margin-bottom: 00.60rem;
    padding-right: 0.45rem;
}

section.top-products .food-slider .food-card .price{
   color: var(--primary);
}

section.top-products .food-slider .food-card button{
    
    border: 2px solid var(--primary);
    background-color: var(--primary);
    padding: 1px 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

section.top-products .food-slider .food-card button span {
    background-color: #fff;
    padding: 5px 10px;
}

section.top-products .food-slider .food-card button img {
    padding: 2px 5px;
}

section.top-products .food-slider .food-card button span:hover{
   background: #eebf00;
   color: #ffffff;
}
div.flex{
   margin-top: 10px;
   margin-left: 20px;
}

.slick-slide{
   margin: 0 27px;
}

.slick-list{
   margin: 0 -27px;
}

.top-products .slider-btn{
   width: 30px;
   height: 30px;
   border: none;
   background: var(--primary);
   border-radius: 4px;
   cursor: pointer;
   outline: none;
}

.prev-btn{
   position: absolute;
   top: 46%;
   left: -5%;
   z-index: 1;
}

.next-btn{
   position: absolute;
   top: 46%;
   right: -10%;
   z-index: 1;
}

.top-products .slider{
   position: relative;
}

.top-products .btn-wrapper{
   margin-top: 2rem;
}

.slick-track{
   padding: 1rem 0;
}

section.about-meal img{
   width: 80%;
}

.flex-1{
   flex: 1;
}

section.about-meal h2{
   font-family: "Releway-bold";
   font-size: 1.4rem;
   color: #232b38;
   margin-bottom: 2rem;
   line-height: 1.3;
}

section.about-meal p{
   line-height: 1.7;
   margin-bottom: 4rem;
}

section.our-services{
   background: var(--light);
   position: relative;
   z-index: 0;
}

section.our-services .service-card{
   background: var(--heaven);
   text-align: center;
   padding: 2rem;
   padding-top: 4rem;
   margin-right: 2rem;
   margin-top: 2rem;
   position: relative;
   border-radius: 4px;
}

section.our-services .service-card .icon{
   position: absolute;
   top: -45px;
   left: 50%;
   transform: translateX(-50%);
}

section.our-services .service-card h2{
   margin-bottom: 1rem;
}

section.our-services .service-card p{
   line-height: 1.6;
   margin-bottom: 1rem;

}

.text-primary{
   color: var(--primary);
}